$basic_static:'https://website-cdn.kiwiar.com/kiwi-games/2024/0603-yanghe/golden_eggs/';

$primary-color:#067DFF;


.text_12{ font-size: 12px; line-height: 18px; }
.text_12_bold{ font-size: 12px; line-height: 18px; font-weight: bold; }
.text_14{ font-size: 14px; line-height: 20px; }
.text_14_bold{ font-size: 14px; line-height: 20px; font-weight: bold; }
.text_16{ font-size: 16px; line-height: 24px; }
.text_16_bold{ font-size: 16px; line-height: 24px; font-weight: bold; }
.text_18{ font-size: 18px; line-height: 26px; }
.text_18_bold{ font-size: 18px; line-height: 26px; font-weight: bold; }
.text_20{ font-size: 20px; line-height: 28px; }
.text_20_bold{ font-size: 20px; line-height: 28px; font-weight: bold; }
.text_24{ font-size: 24px; line-height: 32px; }
.text_24_bold{ font-size: 24px; line-height: 32px; font-weight: bold; }
.text_28_bold{ font-size: 28px; line-height: 36px; font-weight: bold; }
.text_32_bold{ font-size: 32px; line-height: 40px; font-weight: bold; }
.text_40_bold{ font-size: 40px; line-height: 40px; font-weight: bold; }
.text_64_bold{ font-size: 64px; line-height: 64px; font-weight: bold; }